@using PhysicalTherapy.Web.Models

<div class="col-md-6 col-lg-4 mb-4">
    <div class="card blog-card h-100">
        <div class="card-img-top">
            <i class="bi @BlogPost.Icon"></i>
        </div>
        <div class="card-body">
            <span class="card-category">@BlogPost.Category</span>
            <h4 class="card-title">@BlogPost.Title</h4>
            <p>@BlogPost.Excerpt</p>
            <div class="d-flex justify-content-between align-items-center">
                <span class="card-date">@BlogPost.PublishedDate.ToString("MMM dd, yyyy")</span>
                <span class="card-date">@BlogPost.ReadTimeMinutes min read</span>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public BlogPost BlogPost { get; set; } = new();
}
